<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omich.lang"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk android:minSdkVersion="11"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service android:name="org.omich.tool.bcops.BcService" android:exported="false"/>

        <activity
            android:name=".app.TempActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.words.AddWordActivity"
            android:label="@string/dialogAddWordMain_Title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".app.words.GameActivity"
            android:label="@string/settigs"
            android:theme="@style/Theme.Sherlock">
        </activity>
        <activity
            android:name=".app.words.WordsListActivity"
            android:label="@string/dialogAddWordMain_Title"
            android:theme="@style/Theme.Sherlock">
        </activity>
  		<activity android:name=".app.SettingsActivity"
			android:label="@string/settigs"
			android:theme="@style/Theme.Sherlock">
		</activity>	      
        <activity
            android:name=".app.NewAccountActivity"
            android:label="Учетная запись"
            android:theme="@android:style/Theme.Dialog">
        </activity>        
        
        
        <!-- activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock">
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
        

        <service android:name=".SyncService">
         </service>
        
        <activity 
            android:name=".SettingsActivity_d"
            android:label="@string/settigs"
            android:theme="@style/Theme.Sherlock">
        </activity>
        
        <activity 
            android:name=".LoginDialogActivity"
            android:label="@string/login_label"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity 
            android:name=".PasswordDialogActivity"
            android:label="@string/password_label"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity 
            android:name=".LanguageDialogActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity 
            android:name=".WordsNumberActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity 
            android:name=".DictionaryActivity"
            android:label="@string/dictionary_label"
            android:theme="@style/Theme.Sherlock">       
		</activity>
        
        <activity android:name=".EditWordActivity"
          		  android:label="@string/editW_label"
          		  android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name=".CreateWordFastDialogActivity"
               		android:label="@string/createW_label"
            		android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".ViewDBActivity"/>
        
        <activity android:name=".CreateWordActivity"
            		android:label="@string/createW_label"/>
        
        <activity android:name=".CreateLanguageDialogActivity"
            		android:label="@string/createL_label"
            		android:theme="@android:style/Theme.Dialog"/>
  
    </application>
	
</manifest>