html {background-color:#aaaaaa;}
a:link { color: #008; }
a:visited { color: #308; }
.alink
{
	color: #008;
	border-bottom-color: #008;
}


.header-menu .current { background-color: white; }
.main { background-color:white; }
.toolbar-menu {	background-color: silver; }
.footer { background-color: white; }