html {background-color:silver;}
body {background-color: white;}
a:link { color: #008; }
a:visited { color: #308; }
.alink
{
	color: #008;
	border-bottom-color: #008;
}

/*** Header ***/
.header { background-color: silver; }
.header-menu .current { background-color: white; }
/*  end of Header */

/******** Side Panel *********/
.toolbar-menu {	background-color: silver; }
/******** end of Side Panel **********/
