@import 'cssReset.css';
@import 'colorScheme.css';
@import 'addWords/addWords.css';

html { font-family:  Helvetica, sans-serif; }
body { margin: .0em .5em 0; }

a { text-decoration: underline; }

.alink
{
	border:none;
	border-bottom: 1px dashed;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

div { position: relative; }

/******** Header *********/
.header-menu
{ float: left; }
.header-user
{ float: right; }
.header:after
{
	display: block;
	content: "";
	clear: both;
}

.header
{
	padding: 1px 0 0;
}

.header-logo
{
	display: block;
	width: 60px;
	height: 71px;
	background-image:  url("mobileWithShadow.png");
	background-repeat: no-repeat;
	float:left;
	margin: 5px 5px 5px 1em;
	background-size: 60px 71px;
}

/*** menu ***/

.header-menu
{
	padding-top: 37px;
}

.header-menu li
{
	font-size: 24px;
	float:left;
}

.header-menu li *
{
	-webkit-border-top-left-radius: .3em;
	-webkit-border-top-right-radius: .3em;
	-moz-border-radius-topleft: .3em;
	-moz-border-radius-topright: .3em;
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
	display: block;
	height: 24px;
	padding: 12px 1.5em 8px;
}
/*** end of menu ***/

/*** user ***/
.header-user
{
	padding: .7em .5em 0 0;
}

.header-user li
{
	margin: 0 4px;
	float: left;
}

.header-user li > *
{
	display: block;
	padding-top: 6px;
}
.header-user-profile > *:after
{
	content: "";
	display: block;
	float:right;
	background-image: url("gears.png");
	background-position: top right;
	background-repeat: no-repeat;

	height: 33px;
	width: 33px;
	margin-top:-6px;
	padding-left: 4px;

	opacity: .7;
}
.header-user-profile > *:hover:after
{
	opacity: 1;
}
.header-user-logout a
{
	overflow: hidden;
	background-image: url("logout.png");
	background-repeat: no-repeat;
	width: 36px;
	height: 38px;
	margin-top: -5px;
	color: rgba(0,0,0,0);
	opacity: .7;
}
.header-user-logout a:hover
{
	opacity: 1;
}
/*** end of user ***/
/******** end of Header *********/

/*********************** Main **************************/
.main
{
	margin: 1em;
	position: relative;
	padding: 0;
}
/** content **/
.content
{
	float:left;
	margin: 1em;
	width: 70%;
}
/** end of content **/

/******** Words ***********/
table.words td, table.words th
{
	border: 1px solid;
	padding: .5em;
}
table.words caption
{
	display: none;
}
/******** end of Words *********/

/******** Side Panel *********/
.toolbar
{
	width: 30%;
	margin-left: 70%;
}

.toolbar-menu
{
	margin-left:2em;
	padding: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.toolbar-menu h3
{
	margin: 0 0 1em;
}

.toolbar-menu li
{
	margin: .5em 0 0;
}
/******** end of Side Panel **********/
/**************** end of Main ****************/

/******** Footer *********/
.footer
{
	clear:both;
	border-top: solid;
	margin: 1em;
	padding: .5em 0;
	text-align: center;
}

.footer:after
{
	clear:both;
	display:block;
	content:"";
}

.footer *
{
	font-size: x-small;
}

.footer .menu:after
{
	display: block;
	content: "";
	clear: both;
}

.footer .menu
{
	float: right;
}

.footer .menu li
{
	float: left;
	margin: .5em 0;
	padding: 0 1em;
	border-left: solid 1px;
}
.footer .menu li:first-child
{
	border-left: none;
}

.footer p
{
	float: left;
	clear: left;
	margin: .5em 0;
}

.footer p.output-date
{
	display: inline-block;
	float: none;
	clear: none;
	text-align: center;
	background-image: url("progschoolLogo.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 2em 2em;
	height: 1.3em;
	padding: .7em 0 0 2em;
}
/******** end of Footer *********/