html { font-family:  Helvetica, sans-serif; }

a { text-decoration: underline; }

.alink
{
	border:none;
	border-bottom: 1px dashed;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {margin-top:1em;}
h2 {font-size: large;}
p, ul.ul, ul.ul li
{
	margin: .7em 0;
	line-height: 1.3em;
}
p.audat {text-align: right;}

blockquote 
{
	margin: auto 1em;
	line-height: 1.5em;
}

ul.ul {margin-left: 2em;}
ul.ul li
{
	display: list-item;
	list-style: disc;
}

/******* Tables *********/
table
{
	margin: 1em 0;
	display:block;
	border-collapse: separate;
	border-spacing: 2px;
	padding: .3em;
	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}

th 
{
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

td
{
	vertical-align: top;
}

td, th
{
	padding:.2em .5em;
}

.submitTD
{
	text-align: right;
}
/******** End of Tables ********/
