<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Config properties file</description>
        <param-name>config</param-name>
        <param-value>org.smdserver.config</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Запрещаем доступ к файлам конфигурации -->
    <jsp-config>
        <jsp-property-group>
            <display-name>allPages</display-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/empty.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/login.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/main.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/mainjs.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/maintenance.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/profile.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/register.jsp</url-pattern>
            <url-pattern>/WEB-INF/templates/words.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTP-Protected-Resource-1</web-resource-name>
            <description>Description here</description>
            <url-pattern>/config/*</url-pattern>
            <url-pattern>/storage/*</url-pattern>
            <url-pattern>/templates/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>NOSOUPFORYOU</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>NOSOUPFORYOU</role-name>
    </security-role>

    <!-- Main Smart Dictionary servlet. -->
    <servlet>
        <servlet-name>smd</servlet-name>
        <servlet-class>org.smdserver.core.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>smd</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
    <!-- Pages servlet. -->
    <servlet>
        <servlet-name>pages</servlet-name>
        <servlet-class>org.smdserver.jsp.PagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pages</servlet-name>
        <url-pattern>/servlet/page/*</url-pattern>
    </servlet-mapping>
</web-app>
