<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- First servlet example. I's a simplies servlet -->
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>org.smdserver.First</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <!-- Main Smart Dictionary servlet. -->
    <servlet>
        <servlet-name>smd</servlet-name>
        <servlet-class>org.smdserver.actionssystem.SmdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>smd</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
</web-app>
