.b-addWords
{
}

.b-addWords_pair-div
{
	margin: 0 16px 3px 18px;
}

.b-addWords_pair-div:last-child
{
	margin-bottom: 0px;
}

.b-addWords_pair-text-input
{
	width: 50%;
	margin: 0;
	border: inset 2px #f0f0f0;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-rarius: 2px;
}
.b-addWords_text-input-original
{
	margin: 0 4px 0 -20px;
}

.b-addWords_icon-button
{
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	color: rgba(0,0,0,0);
	width: 16px;
	height:16px;
	background-size: 16px 16px;
	border:none;
	cursor: pointer;
}
.b-addWords_icon-button
{
	opacity: .5;
}
.b-addWords_icon-button:hover
{
	opacity: 1;
}

.b-addWords_more-button
{
	background-color: rgba(0,0,0,0);
	border:none;
	cursor: pointer;
	border-bottom: dashed 1px #008;
	padding: 0;
	font-size: x-small;
	text-transform: lowercase;

	display: inline-block;
	margin: 0 22px 5px auto;
}

.b-addWords_less-button
{
	background-image: url("minus.png");
	position: absolute;
	top: 4px;
	right: -18px;
}

.b-addWords_submit-button
{
	display: inline-block;
	cursor: pointer;
	margin: 0 16px 0 auto;
}

.b-addWords_button-container
{
	text-align:right;
}