@import 'cssReset.css';
@import 'colorScheme.css';

html { font-family:  Helvetica, sans-serif; }
body { margin: .0em .5em 0; }

a { text-decoration: underline; }

div { position: relative; }

/******** Header *********/
.header .menu,
.header li
{ float: left; }
.header .user
{ float: right; }
.header:after
{
	display: block;
	content: "";
	clear: both;
}

.header
{
	padding: .5em 0 0;
}

/*** menu ***/

.header .menu li
{
	font-size: xx-large;
}

.header .menu li *
{
	display: block;
	padding: .4em 1.5em;
}

.header .menu li:first-child > *
{
	background-image: url("../img/logo.png");
	background-position: 0px -2px;
	background-repeat: no-repeat;
	padding-left: 90px;
}
/*** end of menu ***/

/*** user ***/
.header .user li
{
	margin: 0px .5em;
}
.header .user li > *
{
	display: block;
}
.header .user .profile > *
{
	background-image: url("../img/gear.png");
	background-position: top right;
	background-repeat: no-repeat;
	padding: 6px 35px 0px 0px;
	height: 28px;
}
.header .user .logout a
{
	overflow: hidden;
	background-image: url("../img/logout.png");
	background-repeat: no-repeat;
	width: 70px;
	height: 32px;
	color: rgba(0,0,0,0);
	border: 1px white solid;
}
/*** end of user ***/
/******** end of Header *********/

/*********************** Main **************************/
.main
{
	margin: 2em 2em 1em;
	position: relative;
	padding: 0 1em 0 0;
}
/** content **/
.content
{
	float:left;
	margin: 0 0 1em;
	width: 70%;
}
/** end of content **/

/******** Words ***********/
table.words
{
}
table.words td, table.words th
{
	border: 1px solid;
	padding: .5em;
}
table.words caption
{
	display: none;
}
/******** end of Words *********/

/******** Side Panel *********/
.toolbar
{
	top: -1em;
	width: 30%;
	padding: 1em;
	margin: 0 0 -1em 70%;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.toolbar h3
{
	margin: 0 0 1em;
}

.toolbar .menu li
{
	margin: .5em 0 0;
}
/******** end of Side Panel **********/
/**************** end of Main ****************/

/******** Footer *********/
.footer
{
	clear:both;
	border-top: solid;
	margin: 1em;
	padding: .5em 0;
	text-align: center;
}

.footer:after
{
	clear:both;
	display:block;
	content:"";
}

.footer *
{
	font-size: x-small;
}

.footer .menu:after
{
	display: block;
	content: "";
	clear: both;
}

.footer .menu
{
	float: right;
}

.footer .menu li
{
	float: left;
	margin: .5em 0;
	padding: 0 1em;
	border-left: solid 1px;
}
.footer .menu li:first-child
{
	border-left: none;
}

.footer p
{
	float: left;
	clear: left;
	margin: .5em 0;
}

.footer p.output-date
{
	display: inline-block;
	float: none;
	clear: none;
	text-align: center;
	background-image: url("../img/progschoolLogo.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 2em 2em;
	height: 1.3em;
	padding: .7em 0 0 2em;
}
/******** end of Footer *********/